<header id="landing-header" class="header" v-cloak v-if="active_view == 'login'">
  <div class="header-left">
    <a class="btn btn-transparent btn-nude" href="/"><img src="/images/sd6-logo-black.svg" width="190"></a>
  </div>
</header>

<div id="account-forms"
  v-bind:class="{'got-user':logged_in}"
  v-cloak
  v-if="active_view == 'login'">

  <div id="login" v-bind:class="{active : active_view == 'login'}">
    <div class="content">
      <form v-on:submit="login_submit(user_forms_username, login_password, $event)">
        <h3>Login</h3>

        <div class="tight">
          <div class="form-group">
            <input class="input" name="username" type="text" required v-model="user_forms_username" placeholder="<%=__("username")%>">
          </div>
          <div class="form-group">
            <input class="input" name="password" type="password" required v-model="login_password" placeholder="<%=__("password")%>">
          </div>
        </div>

        <button type="submit" class="btn btn-dark btn-block">
          <span v-show="!loading_user"><%=__("login")%></span>
          <span v-show="loading_user"><%=__("logging_in")%></span>
        </button>

        <div class="center alert alert-danger" v-if="login_error">{{login_error}}</div>

        <div style="margin-top:2em">
          <a href="https://mafiasi.de/registration/password_reset/"><%=__("reset_password")%></a>
        </div>
      </form>
    </div>
  </div>
</div>
